<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fariha.editprofile">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="editprofile" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Work_Activity"
            android:label="@string/title_activity_work_" />
        <activity
            android:name=".Industry_Activity"
            android:label="@string/title_activity_industry_" />
        <activity
            android:name=".Sponsor_Activity"
            android:label="@string/title_activity_sponsor_" />
        <activity
            android:name=".Volunteer_Activity"
            android:label="@string/title_activity_volunteer_" />
        <activity
            android:name=".Invest_Activity"
            android:label="@string/title_activity_invest_"></activity>
    </application>

</manifest>